#head{
    text-align:center; 
    padding: 2px 5px;
    
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    border-bottom: 1px solid #999;
    border-bottom-width: 1px;}




#intro{text-align:centre;
       font:25px bold;
       color:black;}    

#calculator
{
    width: 400px;
    height: 400px;
    border:2px solid deeppink;
    background: lightpink;
    margin: 50px auto;
    box-shadow:0px 0px 30px grey;
    text-align:center;
}

#display{
    margin-top: 40px;
    margin-bottom: 30px;
    width:280px;
    height:38px;
    border:solid lightpink;
    text-align:right;
    font:25px bold;
    color:black;
}

#keys{
    width:40px;
    height:40px;
    margin-left:15px;
    margin-bottom: 25px;
    cursor:pointer;

}


#equal{
    width:40px;
    height:40px;
    margin-left:15px;
    margin-bottom: 25px;
    cursor:pointer;
}

